<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BAManifestURL</key>
	<string>https://cvws.icloud-content.com/B/AWBcBXD0Ym4XkfGgPVumZ57i97vLAc6LmfwFYTs3cgKTkP0rOWu8KtCr/manifest.json?o=AspVPVyEDWpzfnpyfQyIP9-XiVupgax0psYAVCh2t1Qo&amp;v=1&amp;x=3&amp;a=CAogwVTsRMoi99zhMBaqUDHQG2lozNdD7C9fT8taG8kk5g4SbRDH-MjvujEYx9Wk8boxIgEAUgTi97vLWgS8KtCraia-UuPnO7MOkjfc3PnvJkgXrwaVC2gCu5AEc8zekIAJFT3lGXvJyXImeCtR3Gq9OadT8ulXmXsuqkkjD5X1diNriHN7cKWat5s6iiCShgc&amp;e=1699434015&amp;fl=&amp;r=a71f77b6-d275-4ff4-a344-3c72f5f526e4-1&amp;k=5x4HrPC5ZcVHAZHwgt7CFw&amp;ckc=com.apple.clouddocs&amp;ckz=com.apple.CloudDocs&amp;p=141&amp;s=ge2al5qo8M6ASgdKojBdiUCFpMs&amp;+=4d5783ba-a32e-4f71-b399-408e15a7d568</string>
</dict>
</plist>
